name: Make Video

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout du repo
      uses: actions/checkout@v3

    - name: Installer Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Installer les dépendances Python
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Exécuter le script principal
      run: python make_video.py "Affrontements entre gangs et police à Rio de Janeiro en 2025"
